<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (loggedin) { %>
          <span>Welcome</span> <!-- Use accountData.firstName -->
          <a href="/account/" title="Go to account management"><%= accountData.firstName %></a>
          <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else { %>
          <a href="/account/login" title="Log in">My Account</a>
        <% } %>
      </div>
</header>